<div class="toppage">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 toppage_center">
      <h2><%= link_to "ログイン", new_session_path, class: 'btn btn-info login_btn'%></h2>
      <br>
      <h4><%= link_to "初めての方はこちら", new_user_path, class: 'btn btn-success'%></h4>
    </div>
    <div class="col-md-4 toppage_right">
      <h1></h1>
      <br>
    </div>
  </div>
</div>
