body {
  margin: 0 auto;
  text-align: center;
  background: image-url("instagram_image.jpg") no-repeat;
  background-size: cover;
}

ul li {
  list-style: none;
}

header {
  margin-bottom: 10rem; 
}

.navbar-nav {
  position: relative;
  left: 10rem; 
}

.navbar-nav li {
  padding-right: 5rem;
}

.toppage_center {
  border: none;
}

table {
  margin: 0 auto;
}

.btn {
  border-radius: 3rem;
}

.login_btn {
  height: 10rem;
  width: 30rem;
  font-size: 4rem;
  padding: 2rem;
  margin-top: 1rem;
}

.image_area {
  display: inline-block;
}

tr {
  height: 5rem;
}







